@import './__item/timeline__item.css';
@import './__dot/timeline__dot.css';
@import './__header/timeline__header.css';
@import './__title/timeline__title.css';
@import './__date/timeline__date.css';
@import './__institution/timeline__institution.css';

.timeline {
    position: relative;
    padding-left: 10px;
    border-left: 2px solid #E0E0E0; 
    margin-left: 10px;
}
body.dark-mode .timeline {
    border-left-color: #BDAAA4; 
}