@import './__avatar/profile-card__avatar.css';
@import './__img/profile-card__img.css';
@import './__name/profile-card__name.css';
@import './__role/profile-card__role.css';
@import './__desc/profile-card__desc.css';

.profile-card {
    background-color: var(--card-bg-primary);
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;
    box-shadow: var(--shadow-md);
    height: 100%; 
}