.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 40px;
    margin-bottom: 50px;
}
@media (max-width: 768px) {
    .footer__top {
        flex-direction: column;
        gap: 30px;
    }
}