.blog-modal__box {
    position: relative;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    background-color: var(--bg-section-white);
    border-radius: 20px;
    z-index: 1001;
    overflow-y: auto;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    transform: translateY(30px);
    transition: transform 0.3s ease;
}
.blog-modal--active .blog-modal__box {
    transform: translateY(0);
}
body.dark-mode .blog-modal__box {
    background-color: var(--card-bg-primary);
}