.contact-info__social-link {
    width: 45px;
    height: 45px;
    background-color: var(--accent-main); 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.contact-info__social-link:hover {
    transform: translateY(-3px);
    background-color: var(--accent-dark);
}
body.dark-mode .contact-info__social-link { 
    background-color: var(--accent-dark); 
}
body.dark-mode .contact-info__social-link:hover {
    background-color: var(--text-white);
    color: var(--accent-dark);
}