@import '../../entities/Profile/profile-card/profile-card.css';
@import '../../entities/Resume/resume-card/resume-card.css';
@import '../../entities/Resume/timeline/timeline.css';
@import '../skills/skills.css';
@import '../hobbies/hobbies.css';

@import './__container/resume__container.css';
@import './__column/resume__column.css';

.resume {
    padding: 80px 8%;
    background-color: var(--bg-section-brown); 
    min-height: 100vh;
}