.about__line { 
    width: 60px; 
    height: 4px; 
    background-color: var(--accent-main); 
    margin-bottom: 40px; 
}

@media (max-width: 992px) { 
    .about__line { 
        margin: 0 auto 30px auto; 
    } 
}